*.bundle.*
lib/
node_modules/
*.egg-info/
.ipynb_checkpoints
.idea
__pycache__
.coverage
.pytest_cache/
.scannerwork/
coverage.xml
coverage/
package-lock.json
xunit-reports/
yarn.lock
MANIFEST
dist
yarn-error.log
*.ipynb
htmlcov
