.jp-ThreddsBrowser {
  display: flex;
  flex-direction: column;
  color: var(--jp-ui-font-color1);
  background:var(--jp-layout-color1);
  /* This is needed so that all font sizing of children done in ems is
   * relative to this base size */
  font-size: var(--jp-ui-font-size1);
}

.jp-TreddsBrowser-input {
  width: 100%;
}

.jp-TreddsBrowser-wrapper {
  padding: 2px;
}
