interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://esgf-node.llnl.gov/esg-search/search?offset=0&limit=250&query=project:CMIP6+AND+variable:tas+AND+frequency:mon+AND+experiment_id:historical+AND+member_id:r1i1p1f1&type=File&replica=false&latest=true&format=application/solr%2Bjson&fields=id,title,url
  response:
    body:
      string: "{\n  \"responseHeader\":{\n    \"status\":0,\n    \"QTime\":2139,\n\
        \    \"params\":{\n      \"df\":\"text\",\n      \"q.alt\":\"*:*\",\n    \
        \  \"indent\":\"true\",\n      \"echoParams\":\"all\",\n      \"fl\":\"id,title,url,score\"\
        ,\n      \"start\":\"0\",\n      \"fq\":[\"type:File\",\n        \"replica:false\"\
        ,\n        \"latest:true\"],\n      \"sort\":\"id asc\",\n      \"rows\":\"\
        250\",\n      \"q\":\"project:CMIP6 AND variable:tas AND frequency:mon AND\
        \ experiment_id:historical AND member_id:r1i1p1f1\",\n      \"shards\":\"\
        localhost:8983/solr/files,localhost:8985/solr/files,localhost:8987/solr/files,localhost:8988/solr/files,localhost:8990/solr/files,localhost:8991/solr/files,localhost:8993/solr/files,localhost:8994/solr/files,localhost:8995/solr/files,localhost:8996/solr/files,localhost:8997/solr/files\"\
        ,\n      \"tie\":\"0.01\",\n      \"facet.limit\":\"-1\",\n      \"qf\":\"\
        text\",\n      \"facet.method\":\"enum\",\n      \"facet.mincount\":\"1\"\
        ,\n      \"facet\":\"true\",\n      \"wt\":\"json\",\n      \"facet.sort\"\
        :\"lex\"}},\n  \"response\":{\"numFound\":211,\"start\":0,\"maxScore\":8.047076,\"\
        docs\":[\n      {\n        \"id\":\"CMIP6.CMIP.BCC.BCC-CSM2-MR.historical.r1i1p1f1.Amon.tas.gn.v20181126.tas_Amon_BCC-CSM2-MR_historical_r1i1p1f1_gn_185001-201412.nc|cmip.bcc.cma.cn\"\
        ,\n        \"title\":\"tas_Amon_BCC-CSM2-MR_historical_r1i1p1f1_gn_185001-201412.nc\"\
        ,\n        \"url\":[\"http://cmip.bcc.cma.cn/thredds/fileServer/cmip6_data/CMIP/BCC/BCC-CSM2-MR/historical/r1i1p1f1/Amon/tas/gn/v20181126/tas_Amon_BCC-CSM2-MR_historical_r1i1p1f1_gn_185001-201412.nc|application/netcdf|HTTPServer\"\
        ,\n          \"gsiftp://cmip.bcc.cma.cn:2811//cmip6_data/CMIP/BCC/BCC-CSM2-MR/historical/r1i1p1f1/Amon/tas/gn/v20181126/tas_Amon_BCC-CSM2-MR_historical_r1i1p1f1_gn_185001-201412.nc|application/gridftp|GridFTP\"\
        ,\n          \"http://cmip.bcc.cma.cn/thredds/dodsC/cmip6_data/CMIP/BCC/BCC-CSM2-MR/historical/r1i1p1f1/Amon/tas/gn/v20181126/tas_Amon_BCC-CSM2-MR_historical_r1i1p1f1_gn_185001-201412.nc.html|application/opendap-html|OPENDAP\"\
        ,\n          \"globus:90282ada-ddac-11e8-8c90-0a1d4c5c824a/cmip6_data/CMIP/BCC/BCC-CSM2-MR/historical/r1i1p1f1/Amon/tas/gn/v20181126/tas_Amon_BCC-CSM2-MR_historical_r1i1p1f1_gn_185001-201412.nc|Globus|Globus\"\
        ],\n        \"score\":6.893009},\n      {\n        \"id\":\"CMIP6.CMIP.BCC.BCC-ESM1.historical.r1i1p1f1.Amon.tas.gn.v20181214.tas_Amon_BCC-ESM1_historical_r1i1p1f1_gn_185001-201412.nc|cmip.bcc.cma.cn\"\
        ,\n        \"title\":\"tas_Amon_BCC-ESM1_historical_r1i1p1f1_gn_185001-201412.nc\"\
        ,\n        \"url\":[\"http://cmip.bcc.cma.cn/thredds/fileServer/cmip6_data/CMIP/BCC/BCC-ESM1/historical/r1i1p1f1/Amon/tas/gn/v20181214/tas_Amon_BCC-ESM1_historical_r1i1p1f1_gn_185001-201412.nc|application/netcdf|HTTPSer[...]
